<h2><%- include('github-link', {
  href: '/src/ejs/basic-usage.ejs',
  content: 'Basic Usage',
}); %></h2>

<div class='grid grid--gutter'>
  <div class='grid__item'>
    <h3>Horizontal</h3>

    <div class='example-container'>
      <div id='h-basic'>
        <p class='horizontal-text'>Horizontal Fade Scroller</p>
      </div>
    </div>
  </div>

  <div class='grid__item'>
    <h3>Vertical</h3>

    <div class='example-container'>
      <div id='v-basic'>
        <p class='vertical-text'>Vertical Fade Scroller</p>
      </div>
    </div>
  </div>
</div>

<script>
  new FadeScroll.Horizontal('#h-basic').mount();

  new FadeScroll.Vertical('#v-basic').mount();
</script>