<h2><a href='https://github.com/brybrant/fade-scroll/blob/master/src/ejs/hidden-scrollbars.ejs' target='_blank'>Hidden Scrollbars</a></h2>

<p>To hide the scrollbar, set&nbsp;<code>hideScrollbar: true</code> in the&nbsp;options.</p>

<div class='grid grid--gutter'>
  <div class='grid__item'>
    <h3>Horizontal</h3>

    <div class='example-container'>
      <div id='h-hide'>
        <p>Some <strong>Horizontal</strong> overflowing content&hellip;</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac sagittis lacus. In sagittis eleifend risus quis ullamcorper. Cras vel nunc id purus pellentesque tincidunt nec convallis nisl.</p>
        
        <p>Duis nec volutpat est, eu vulputate est. Duis nec dictum ipsum. Aenean volutpat neque nec massa mattis facilisis eget nec erat. Nulla sed risus lobortis, eleifend mauris nec, hendrerit leo.</p>
      </div>
    </div>
  </div>

  <div class='grid__item'>
    <h3>Vertical</h3>

    <div class='example-container'>
      <div id='v-hide'>
        <p>Some <strong>Vertical</strong> overflowing content&hellip;</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac sagittis lacus. In sagittis eleifend risus quis ullamcorper. Cras vel nunc id purus pellentesque tincidunt nec convallis nisl.</p>
        
        <p>Duis nec volutpat est, eu vulputate est. Duis nec dictum ipsum. Aenean volutpat neque nec massa mattis facilisis eget nec erat. Nulla sed risus lobortis, eleifend mauris nec, hendrerit leo.</p>
      </div>
    </div>
  </div>
</div>

<script>
  new FadeScroll.Horizontal('#h-hide', {
    hideScrollbar: true,
  }).mount();

  new FadeScroll.Vertical('#v-hide', {
    hideScrollbar: true,
  }).mount();
</script>

<p>But how to scroll sideways without a visible scrollbar? Some&nbsp;input devices come with a mechanism to scroll sideways &mdash; otherwise the <em>&ldquo;usual&rdquo;</em> way to scroll sideways is by holding the <strong>Shift</strong>&nbsp;key while spinning the mouse&nbsp;wheel, but there is another&nbsp;way&hellip;</p>