<h2><a href='https://github.com/brybrant/fade-scroll/blob/master/src/ejs/sideways-scrolling.ejs' target='_blank'>Sideways Scrolling with Mouse&nbsp;Wheel</a></h2>

<p>Users may prefer to scroll sideways by using the mouse&nbsp;wheel normally, especially when the scrollbar is not&nbsp;visible. To&nbsp;enable this behaviour, set&nbsp;<code>captureWheel: true</code> in the&nbsp;options. This will translate mouse&nbsp;wheel movement to horizontal&nbsp;scrolling.</p>

<div class='example-container'>
  <div id='mousewheel'>
    <p>Some <strong>Horizontal</strong> overflowing content&hellip;</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac sagittis lacus. In sagittis eleifend risus quis ullamcorper. Cras vel nunc id purus pellentesque tincidunt nec convallis nisl.</p>

    <p>Duis nec volutpat est, eu vulputate est. Duis nec dictum ipsum. Aenean volutpat neque nec massa mattis facilisis eget nec erat. Nulla sed risus lobortis, eleifend mauris nec, hendrerit leo.</p>
  </div>
</div>

<script>
  new FadeScroll.Horizontal('#mousewheel', {
    hideScrollbar: true,
    captureWheel: true,
  }).mount();
</script>