@use 'variables' as *;

.tabs-container {
  position: relative;
  margin-top: 12px;

  .fade-scroll:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $grey-100;
  }
}

.tab {
  margin: 2px 0;
  padding: 6px 20px;

  &:active {
    padding: 7px 20px 5px;
    background: $grey-100;
    color: $white-100;
  }

  &.active {
    margin: 0;
    padding: 6px 18px 8px;
    border: 2px solid $grey-100;
    border-bottom: 0;
    background: $grey-400;
    color: $white-200;
  }

  & ~ .tab {
    margin-left: 8px;
  }
}